.App {
    text-align: center;
}


/* The below CSS is just to hide the input fields at the start when adding the booking */

#boardroomBookings {
    display: none;
}

#fishbowlBookings {
    display: none;
}

#boardroomBookingsDates {
    display: none;
}

#fishbowlBookingsDates {
    display: none;
}

#date {
    display: none;
}

#timefrom {
    display: none;
}

#timeto {
    display: none;
}

#username {
    display: none;
}

#addbooking {
    display: none;
}